* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.navbar {
  background-color: #0a192f;
  width: 50%;
  height: 50px;
  position: relative;
}

.bar1 {
  background-color: aquamarine;
  height: 3px;
  margin-bottom: 3px;
  width: 25px;
  position: absolute;
  top: 13px;
  transition: all 0.2s ease;
  left: 12px;
}

.bar2 {
  background-color: aquamarine;
  height: 3px;
  margin-bottom: 3px;
  transition: all 0.2s ease;
  width: 25px;
  position: absolute;
  top: 20px;
  left: 12px;
}

.bar3 {
  background-color: aquamarine;
  height: 3px;
  margin-bottom: 3px;
  transition: all 0.2s ease;
  width: 25px;
  position: absolute;
  top: 27px;
  left: 12px;
}

/* Navbar Items */
.navbar-items {
  margin-top: 4px;
  background-color: #0a192f;
  width: 50%;
}

.navbar-nav {
  list-style-type: none;
  margin-left: 10px;
}

.nav-link {
  text-decoration: none;
  padding: 12px;
}

.nav-link > a {
  text-decoration: none;
  color: #fff;
}

.links {
  opacity: 0;
}

/* Diagonal Hamburger menu */

.first {
  transform: rotate(45deg);
  top: 27px;
  left: 12px;
  transition: all 0.2s ease-in-out;
}

.middle {
  opacity: 0;
}

.last {
  transform: rotate(-45deg);
  transition: all 0.2s ease;
}
